.mat-spinner {
  margin: 100px auto;
}

.mat-column-poster {
  padding: 15px !important;
  width: 50px;
  .poster-cell {
    vertical-align: middle;
    display: inline-block;
    line-height: 65px;
    min-height: 65px;
  }
}

.search-result-table {
  width: 100%;

  tr:hover td {
    background: #EEE;
    cursor: pointer;
  }
}

.movieInfo .close-btn {
  display: block;
  margin: auto;
}
