<div class="row justify-content-md-center">
  <form #searchForm="ngForm" class="col-lg-9" (ngSubmit)="search()">

    <mat-form-field>
      <mat-label>Search</mat-label>
      <input type="search" matInput
             [matAutocomplete]="movies"
             [formControl]="searchControl"
             placeholder="Enter movie or TV-show title..."
             autocomplete="off">
      <button mat-button *ngIf="searchControl.value" matSuffix mat-icon-button
              aria-label="Clear" (click)="clearField()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #movies="matAutocomplete">
        <mat-option *ngFor="let it of searchResult$ | async"
                    (onSelectionChange)="onSelection(it)"
                    [value]="it.Title">
              <span class="poster">
                  <img *ngIf="it.Poster" [src]="it.Poster" [alt]="it.Title">
              </span>
          {{ it.Title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Search</button>

  </form>
</div>
