<div class="row justify-content-md-center">
  <div class="col-lg-9">

    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput
             [matAutocomplete]="movies"
             [formControl]="searchControl"
             placeholder="Enter movie or TV-show title..."
             autocomplete="off">
      <mat-autocomplete #movies="matAutocomplete"
                        [displayWith]="searchControlDisplayFn">
        <mat-option *ngFor="let it of searchResult$ | async"
                    (onSelectionChange)="onSelection(it)"
                    [value]="it">
              <span class="poster">
                  <img
                    [src]="it.Poster == 'N/A' ? '' : it.Poster"
                    [alt]="it.Poster == 'N/A' ? '' : it.Title"
                  >
              </span>
          {{ it.Title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>
</div>
