<div class="row justify-content-md-center mt-3 mb-4">
  <div class="col-lg-9">
    <app-omdb-info-card [image]="movieInfo.Poster" [title]="movieInfo.Title">
      <p class="card-text">{{ movieInfo.Plot }}</p>
      <div class="moview-props">

        <app-omdb-info-card-row title="Year">{{ movieInfo.Year }}</app-omdb-info-card-row>
        <app-omdb-info-card-row title="Country">{{ movieInfo.Country }}</app-omdb-info-card-row>
        <app-omdb-info-card-row title="Released">{{ movieInfo.Released }}</app-omdb-info-card-row>
        <app-omdb-info-card-row title="Released">{{ movieInfo.Released }}</app-omdb-info-card-row>
        <app-omdb-info-card-row title="Duration">{{ movieInfo.Runtime }}</app-omdb-info-card-row>
        <app-omdb-info-card-row title="Genre">{{ movieInfo.Genre }}</app-omdb-info-card-row>

        <ng-container *ngIf="movieInfo.Ratings.length > 0">
          <hr>
          <h3 class="mt-2 mb-1">Ratings: </h3>
          <p *ngFor="let rating of movieInfo.Ratings" class="card-text">
            {{rating.Source}}: <small class="text-muted">{{ rating.Value }}</small>
          </p>
        </ng-container>

      </div>
    </app-omdb-info-card>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-lg-9">
    <mat-table [dataSource]="tableRows">
      <ng-container matColumnDef="header">
        <mat-cell *matCellDef="let item">{{item.header}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="value">
        <mat-cell *matCellDef="let item">{{item.value}}</mat-cell>
      </ng-container>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
